/*FONTS PARA TITULOS*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Playfair+Display&display=swap");
.textTitle {
  font-family: 'Playfair Display', serif; }

/*FONTS PARA Textos*/
.textSubti {
  font-family: 'Martel', serif; }

/*ESTILO NAV: INDEX - MULTIMEDIA - HISTORIA - SHOP - CONTACTO*/
.textShadow {
  color: rgba(255, 255, 255, 0.3);
  background: #1a1a1a;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5); }

.imgHeader {
  width: 100%; }

/*ESTILO HEADER: INDEX - MULTIMEDIA - HISTORIA - SHOP - CONTACTO*/
.headerIndex h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
  background-color: #F1C40F;
  -webkit-box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75); }

hr {
  background-color: black; }

.text h1 {
  margin-top: 3rem; }

/*ESTILO MAIN: INDEX - MULTIMEDIA - HISTORIA - SHOP - CONTACTO*/
.mainIndex p {
  text-align: center;
  font-family: 'Martel', serif;
  font-size: 1.5rem;
  margin: 5rem; }

figure h3 {
  text-align: center;
  margin: 80rem;
  font-size: 2.5rem;
  background-color: #F1C40F;
  -webkit-box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 24px -7px rgba(0, 0, 0, 0.75); }

/*ESTILO MULTIMEDIA ALBUM*/
#galeria .col-lg-4 {
  padding: 20px; }

#galeria img {
  width: 100%;
  height: 250px;
  border-radius: 2%; }

#galeria img:hover {
  border: 5px solid #F1C40F; }

/*ESTILO SHOP*/
#galeria .imgShop {
  width: auto; }

/*ESTILO CONTACTOS*/
.contacSize {
  width: auto; }
