/*ESTILO HEADER: INDEX - MULTIMEDIA - HISTORIA*/


.headerIndex h1 {
        
    font-size: 4rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: #F1C40F;
    -webkit-box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);

   
}


hr {
  
  background-color: rgb(0, 0, 0);
  
}


.text h1 {
  margin-top: 3rem;
}