/*ESTILO MAIN*/


.mainIndex p {
    text-align: center;
    font-family: 'Martel', serif;
    font-size: 1.5rem;
    margin: 5rem;
}

.tamImgMain {
    width: 25rem;
    border-radius: 2%;
    
}




figure h3 {
    text-align: center;
    margin: 5rem;
    font-size: 2.5rem;
    background-color: #F1C40F;
    -webkit-box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 24px -7px rgba(0,0,0,0.75);
}

figure .imgMain {
    width: 100%;
    
}

