/*ESTILO NAV: INDEX - MULTIMEDIA - HISTORIA - SHOP - CONTACTO*/

.textShadow {
    color: rgba(255,255,255,.3);
    background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    }
    
    
    .imgHeader  {
        
        width: 100%;
    
    }


    

